# Listen on the HTTPS and HTTP ports
frontend  https
  bind  :80
  bind :443 ssl crt /certs/wildcard.pem

  # Add X-Headers necessary for HTTPS; include:[port] if not running on port 443
  http-request set-header X-Forwarded-Host %[req.hdr(Host)]
  http-request set-header X-Forwarded-Proto https

  # (OPTIONAL) Force HTTPS
  #redirect scheme https if !{ ssl_fc }

  default_backend backend_default

backend         backend_default
#  server x printatestpage.com:80
  server  local-server 127.0.0.1:8080
